<div id="marca">
    <label for="marca">Marca: </label>
    <input type="text" name="marca" [(ngModel)]="marca">
    
</div>

<div id="cor">
    <label for="cor">Cor: </label>
    <input type="text" name="cor" [(ngModel)]="cor">
    
</div>

<div id="modelo">
    <label for="modelo">Modelo: </label>
    <input type="text" name="modelo" [(ngModel)]="modelo">
    
</div>

<div id="cambio">
    <label for="cambio">Cambio: </label>
    <input type="text" name="cambio" [(ngModel)]="cambio">
    
</div>
<div id="ano">
    <label for="ano">Ano: </label>
    <input type="text" name="ano" [(ngModel)]="ano">
    
</div>

<button (click)="cadastrar()">Cadastrar</button>